<div data-ng-controller="manufacturer-editor-controller as mvm">

    <div data-ng-form="manufacturerEditorForm">
        <div class="form-group">
            <label class="control-label" for="manufacturerName">Name:</label>
            <input type="text" class="form-control required" id="manufacturerName" name="manufacturerName" data-ng-model="instance.name" data-ng-required="!isDisabled" />
            <span class="error" ng-show="manufacturerEditorForm.manufacturerName.$dirty && manufacturerEditorForm.manufacturerName.$error.required">Name is required</span>
        </div>

        <div class="form-group">
            <label class="control-label" for="manufacturerDescription">Description:</label>
            <textarea class="form-control" id="manufacturerDescription" rows="5" name="manufacturerDescription" data-ng-model="instance.description"></textarea>
        </div>

        <div class="form-group">
            <label class="control-label" for="manufacturerCountry">Country:</label>
            <input type="text" class="form-control" id="manufacturerCountry" name="manufacturerCountry" data-ng-model="instance.country" />
        </div>
    </div>

</div>

