<app-header (toggleFullscreen)="toggleFullscreen()"
(toggleTheme)="toggleTheme()"
(toggleSidebar)="toggleSidebar()"
(toggleOffsidebar)="toggleOffsidebar()"
class="layout-header"></app-header>
    <mat-sidenav-container class="layout-sidenav-container">
        <mat-sidenav role="navigation" 
            #sidenav
            [mode]="getSidebarMode()"
            [(opened)]="sideOpened"
            [fixedInViewport]="sidebarOptions.fixed"
            [fixedTopGap]="sidebarOptions.top"
            [fixedBottomGap]="sidebarOptions.bottom"
            class="layout-sidebar">
          <app-sidebar [navItems]="navItems"></app-sidebar>
        </mat-sidenav>
        <mat-sidenav 
            position="end"
            mode="over"
            [(opened)]="offsideOpened"
            [fixedInViewport]="offsidebarOptions.fixed" 
            class="layout-offsidebar">
            <app-offsidebar></app-offsidebar>
        </mat-sidenav>
        <mat-sidenav-content>
            <main>
                <router-outlet></router-outlet>
            </main>
        </mat-sidenav-content>
    </mat-sidenav-container>

