@import "./header";
@import "./sidebar";
@import "./footer";

.app-container {
  position: absolute !important;
  top: 0;
  bottom: 64px;
  left: 0;
  right: 0;
}

  .layout-sidenav-container {
    position: relative !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;

    .layout-header {
      // position:absolute;
      // left:0;
      // top:0;
      // width:100%;
    }

    .layout-sidebar {
        // width: 200px;
        // border-right: #cccccc;
        // padding: 10px;
        // background: #cccccc;
      }

      .layout-offsidebar {
        top: 0;
        bottom: 0;
        width: 200px;
        padding: 10px;
      }

    .layout-content {
        padding:10px;
    }
  }

  .layout-is-mobile {
    // position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
    background:red;

    .layout-sidenav-container {
      margin-top:0;
    }
  }

  .card-list > mat-card {
    margin-bottom: 32px;
  }

  mat-sidenav-container, mat-sidenav-content, mat-sidenav {
    min-height: 100% !important;
    height: 100% !important;
  }

  mat-sidenav-container {
  }

  mat-sidenav-content {
  }
  
  mat-sidenav {
    width: 250px;
  }

  mat-sidenav-content {
    padding: 20px;
  }

  @media (max-width: 599px) {

  }