version: '3.4'

services:
  sql.data:
    image: microsoft/mssql-server-linux:2017-latest

  rabbitmq:
    image: rabbitmq:3-management-alpine

  catalog.api:
    image: beerappreciation/catalog.api:${TAG:-latest}
    build:
      context: .
      dockerfile: src/Services/Catalog/Catalog.API/Dockerfile
    depends_on:
      - sql.data
      - rabbitmq

  identity.api:
    image: beerappreciation/identity.api:${TAG:-latest}
    build:
      context: .
      dockerfile: src/Services/Identity/Identity.API/Dockerfile

  eventmanagement.api:
    image: beerappreciation/eventmanagement.api:${TAG:-latest}
    build:
      context: .
      dockerfile: src/Services/Events/EventManagement.API/Dockerfile
