@import '~@angular/material/theming';
@import "./app/shared/styles/themes/default";
@import "./app/shared/styles/themes/dark";
@import "./app/shared/styles/app";

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// **Be sure that you only ever include this mixin once!**
@include mat-core();

// Include the themes.
@include angular-material-theme($candy-app-theme);

.demo-unicorn-dark-theme {
  @include angular-material-theme($dark-theme);
}

html {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100%;
}

body, html {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  margin: 0;

  // Helps fonts on OSX looks more consistent with other systems
  // Isn't currently in button styles due to performance concerns
  * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}